/*#263238;*/
body{
  /*background: #263238;*/
  margin:0;
  padding: 0px;
  font-size: 16px;
}
.banner {
    font-family: 'Julius Sans One', sans-serif;
  height:100vh;
  width:100%;
  margin:0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.58),
      rgba(0, 0, 0, 0.58)
    ), url("img/e.jpg") no-repeat;

  background-size: cover;
  background-position: center;
}

.title{
    /*display: none;*/
  margin:0 auto;
  text-align: center;
  padding-top:300px;
  color:#fff;
  font-weight: bold;

  /*font-family: 'Abril Fatface', cursive;*/
}

.title h1 {
  font-size: 5em;
}
.title h4 {
font-size:4em;
}
.main_links{
  text-align: center;
  margin: 150px;
}

.main_links li{
  display: inline;
  padding:25px;
}
/*.main_links li a {
  color:#fff;
  font-size: 25px;
}

.main_links li a:hover{
  font-size: 30px;
}*/
/* links  */
nav {
  margin-top:150px;
  background: transparent;
  border:none;
  box-shadow: none;
  font-size:25px;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '<';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: '/>';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#projects{
  margin-top:5px;
  font-family: 'Pontano Sans', sans-serif;
}

h1.section_title{
 text-align: center;
 color:#fff;
}
.row{
  clear:both;
}
.row .col {
  padding:5px;
  /*background:#eceff1 ;*/
}
ul.techs {
  list-style:circle;
}
#projects h5 {
  color:#37474f;
  font-family: 'Dosis', sans-serif;
}
#projects h3{
  text-align: center;
  padding:20px;
}
.carousel-item{
  width:300px;
}
.project_links{
  text-align: right;
  font-size: 18px;
}
.project_links a {
  color:#37474f;
}
.project_links a:hover{
  text-decoration: none;
  color:grey;
}
.single{
  padding-top:30px;
  padding-bottom: 30px;
}
#skills{
  min-height: 400px;
  background:linear-gradient(
      rgba(61, 92, 92, 0.9),
      rgba(61, 92, 92, 0.58)),
       url("img/skills.png");
  margin-top: 100px;
  margin-bottom: none;
}
#about{
  background: #90a4ae;
  min-height: 600px;
  padding:50px;
}
.skills{
  text-align: center;
  color:#fff;
  padding: 40px;
}
.slist {
  width:50%;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
.slist li{
  display: inline-block;
  padding: 30px;
}
/*#cfd8dc;*/
#contact{
  font-size: 1.7em;
  color:#fff;
  text-align: left;
  padding-left: 40px;
  padding-top: 100px;
  background: linear-gradient(
      rgba(166, 183, 191,0.56),
      rgba(166, 183, 191,0.56)),
      url("img/sf.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.white_links {
  color:#fff;
  padding:10px;
}

.my_pic{
  z-index:1000;
  width:20%;
  border-radius: 50%;
  border:solid 3px #fff;
  display: block;
  margin: 0 auto;
}
.footer{
  text-align: center;
  color:#b3cccc;
}
@media (max-width:900px){
  .title{
    padding-top:100px;
  }
  .title h1 {
    font-size: 6em;
  }
  .title h4 {
  font-size:2em;
  }
}
@media (max-width: 500px) {
  .title{
    padding-top:100px;
  }
  .title h1 {
    font-size: 5em;
  }
  .title h4 {
  font-size:2em;
  }
  .main_links{
    text-align: center;
    margin: 80px;
  }
  .slist {
    width:95%;
  }
  #contact{
    min-height: 400px;
  }

}
