
body{
  background: #263238;
  font-family: 'Open Sans Condensed', sans-serif;
}
.banner {
  height:100vh;
  width:100%;
  margin:0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.58),
      rgba(0, 0, 0, 0.58)
    ), url("img/e.jpg") no-repeat;

  background-size: cover;
  background-position: center;
}

.title{
  margin:0 auto;
  text-align: center;
  padding-top:300px;
  color:#fff;
  font-weight: bold;
  /*font-family: 'Abril Fatface', cursive;*/
}

.title h1 {
  font-size: 8em;
}
.title h4 {
font-size:4em;
}
.main_links{
  text-align: center;
  margin: 150px;
}

.main_links li{
  display: inline;
  padding:25px;
}
/*.main_links li a {
  color:#fff;
  font-size: 25px;
}

.main_links li a:hover{
  font-size: 30px;
}*/
/* links  */
nav {
  margin-top:150px;
  background: transparent;
  border:none;
  box-shadow: none;
  font-size:25px;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#projects{
  margin-top:5px;
}
.project{

}
.disc{
  background-color: #fff;
  min-height: 800px;
}
.card{
  min-height:500px;
}
